/* ------------ general styles ------------------ */

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v24-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-green: #819b57;
  --color-brand-dark-green: #465929;
  --color-text-light: #faf4ea;
  --color-text-dark: #31261a;
  --color-ivory: #a18268;
  --color-beige: #cfcfbc;
}

body {
  color: var(--color-text-dark);
  background: var(--color-text-light);
  line-height: 1.5;
  margin: 0;
}

*,
*::after,
*::before {
  margin-top: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

.body-small {
  font-size: 14px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 124px;
  font-weight: 900;
}
h2 {
  font-size: 62px;
  font-weight: 900;
  line-height: 1.3;
}
h3 {
  font-size: 40px;
  font-weight: 600;
}

h3.title-small {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}
h4.semibold {
  font-weight: 600;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}
h6 {
  font-size: 16px;
  font-weight: 300;
}

address {
  font-style: normal;
}

.btn {
  color: var(--color-text-light);
  background-color: var(--color-brand-green);
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid var(--color-brand-green);
  font-weight: 600;
  padding: 16px 32px;
}

.btn:hover {
  color: var(--color-text-dark);
  background-color: transparent;
  border-color: var(--color-brand-green);
}

.accent-light {
  color: var(--color-brand-green);
}
.accent-dark {
  color: var(--color-brand-dark-green);
}
.semibold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.section-title {
  color: var(--color-text-dark);
}
.section-title.centered {
  text-align: center;
}

section {
  padding: 48px 0;
}

.hidden {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* -------------------- header section ------------------ */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  color: var(--color-text-light);
  text-decoration: none;
  transition: color 0.3s linear;
}

.nav-link:hover {
  color: var(--color-brand-green);
}

/* ---------------------- hero section --------------------- */
.hero-section {
  padding: 280px 0px;
  text-align: center;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-text-light);
}
.hero-title .accent {
  color: var(--color-brand-green);
}

/* ----------------- advantages section --------------------- */

.advantages-section {
  background-color: var(--color-brand-green);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-list-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-text-light);
}

/* ---------------- tradition-section ------------------------ */

.tradition-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}

.traditions-text--limited {
  max-width: 340px;
}

/* -------------------- chefs section ---------------------------- */

.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  content: '';
  width: 352px;
  height: 0px;
  border: 2px solid var(--color-beige);
  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}
.chefs-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.chefs-list-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  gap: 30px;
}

/*  ------------------------- formats section ------------------ */
.formats-container {
  display: flex;
  gap: 33px;
  align-items: center;
}

.formats-list {
  color: var(--color-text-light);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-list-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  border-radius: 16px;
  background-color: wheat;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  padding: 24px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  height: 444px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-text-dark);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--color-text-dark);
  flex-shrink: 0;
}
.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-text-dark);
  fill: var(--color-text-light);
}

/* ---------------------- contact section -------------------- */
.contact-section {
  padding-bottom: 96px;
}

#contact-section .action-text {
  color: var(--color-brand-dark-green);
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* ---------------------- footer -------------------------- */

.footer {
  background-image: url('../images/footer-bg.png');
  background-color: var(--color-text-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  position: absolute;
  content: '';
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer::before {
  background-image: url('/images/footer-bread-left.png');
  width: 180px;
  height: 120px;
  left: 0;
}
.footer::after {
  background-image: url('/images/footer-bread-right.png');
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-adress {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-list {
  flex-grow: 1;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.footer-logo,
.footer-list,
.adress-list,
.adress-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-text-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand-green);
}

.adress-copyright {
  font-size: 14px;
  color: var(--color-ivory);
}

.adress-social {
  fill: var(--color-text-light);
}
.adress-social:hover {
  fill: var(--color-brand-green);
}

/* -------------------- modal --------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 38, 26, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--color-text-light);
  border-radius: 32px;
  padding: 128px;
  position: relative;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-modal-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}
